<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sea.whale.mapper.UserAuthRepositoryMapper">
    <select id="findByAuthTypeAndAuthId" resultType="com.sea.whale.security.oauth2.UserAuth">
        SELECT * FROM user_auth WHERE auth_type = #{authType} AND auth_id = #{authId}
    </select>
</mapper>